
footer{
  box-shadow: 10px 0 10px rgba(0,0,0,0.5);
  background-color: #ffffff !important;
}
.footer__container {
  display: flex;
  gap: 20px;
  justify-content: space-between;

}

.footer__main {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.footer__nav {
  display: flex;
  gap: 50px;

  a, li {
  color: #000;
  }
  li{
    color: #555 !important;
  }

}

@media (max-width: 500px) {
  .footer__container {
    flex-direction: column;
    gap: 30px;
  }

  .footer__main {
    justify-content: center;
  }

  .footer__nav {
    flex-direction: row;
  }
}