@use "./variables.scss" as vrb;

.login-main {
  padding: 50px 70px;
  border-radius: 16px;
  border: 1px solid rgba(0, 0, 0, 0.26);
  background: #F5F5F5;
}

.login-page {
  background-color: #093545;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.login__header {
  display: flex;
  flex-direction: column;
  gap: 32px;

  h2 {
    color: #FFF;
    text-align: center;
    font-size: 64px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }

  p {
    color: #FFF;
    text-align: center;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }

  a {
    color: #20DF7F;
    font-size: 14px;
    font-weight: 500;
    line-height: normal;
  }
}

.login__form {
  input {
    width: 100%;
    border-radius: 10px;
    background: #224957;
    color: #FFF;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    padding: 12px 20px;
    border: none;
    margin-top: 32px;
  }
}

.login__btn {
  color: #FFF;
  text-align: center;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  text-transform: capitalize;
  border-radius: 10px;
  background: #20DF7F;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.30);
  border: none;
  margin-top: 32px;
  width: 100%;
  padding: 13px;
}

.background-image {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 120px;
}

.account__header {
  .account-title, p {
    color: vrb.$secondary;
  }
}

.password-form {
  input {
    width: 100%;
    border-radius: 10px;
    // background: #224957;
    border: 1px solid #224957;
    color: #224957;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    padding: 12px 20px;
    // border: none;
    margin-top: 16px;
  }

  button {
    padding: 10px 20px;
    font-size: 16px;
    background-color: vrb.$secondary;
    color: #fff;
    border-radius: 5px;
    border: none;
  }

  &-title {
    font-size: 20px;
    padding: 16px;
    margin-left: 8px;
  }
}


.public-account {
  display: flex;
  align-items: center;
  justify-content: center;

  &-main {
    max-width: 600px;
    padding-top: 50px;
    padding-bottom: 100px;
  }
}

.password-redirect-btn {
  color: #20DF7F;
}

@media (max-width: 500px) {
  .login__form {
    margin-right: 20px;
    margin-left: 20px;
  }

  .login__header {
    h2 {
      font-size: 44px;
    }
  }
}